doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Indoor & Outdoor Sports Flooring | Home Court Advantage
    link(rel='stylesheet', href='../css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Black+Ops+One|Lato:100,300,400,700', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body
    include ../layouts/header.pug
    section.hero.residential-indoor-page-hero.privacy-hero
      h1.hero-center-title.section-title privacy policy
      p.hero-center-subtitle.privacy-subtitle
        | Privacy Notice
      p.privacy-text
        | This privacy notice discloses the privacy practices for (website address). This privacy notice 
        br
        | applies solely to information collected by this website. It will notify you of the following:
      ul.privacy-list
        li.privacy-list-item
          | 1. What personally identifiable information is collected from you through
          br
          | the website, how it is used and with whom it may be shared.
        li.privacy-list-item
          | 2. What choices are available to you regarding the use of your data.
        li.privacy-list-item
          | 3. The security procedures in place to protect the misuse of your information.
        li.privacy-list-item
          | 4. How you can correct any inaccuracies in the information.
    section.privacy-policy-info
      h4.privacy-policy-info-title Information Collection, Use, and Sharing 
      p.privacy-policy-info-text
        | We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
      p.privacy-policy-info-text
        | We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
      p.privacy-policy-info-text 
        | Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
      h4.privacy-policy-info-title Your Access to and Control Over Information 
      p.privacy-policy-info-text
        | You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
      ul.privacy-policy-info-list
        li.privacy-policy-info-list-item
          | See what data we have about you, if any.
        li.privacy-policy-info-list-item
          | Change/correct any data we have about you.
        li.privacy-policy-info-list-item
          | Have us delete any data we have about you.
        li.privacy-policy-info-list-item
          | Express any concern you have about our use of your data.
      h4.privacy-policy-info-title Information Collection, Use, and Sharing 
      p.privacy-policy-info-text
        | We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
      p.privacy-policy-info-text
        | We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
      p.privacy-policy-info-text
        | Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
      h4.privacy-policy-info-title Your Access to and Control Over Information 
      p.privacy-policy-info-text
        | You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
      ul.privacy-policy-info-list
        li.privacy-policy-info-list-item
          | See what data we have about you, if any.
        li.privacy-policy-info-list-item
          | Change/correct any data we have about you.
        li.privacy-policy-info-list-item
          | Have us delete any data we have about you.
        li.privacy-policy-info-list-item
          | Express any concern you have about our use of your data.
    include ../layouts/footer.pug
    include ../layouts/designer-modal.pug
    include ../layouts/scripts.pug
