doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Indoor & Outdoor Sports Flooring | Home Court Advantage
    link(rel='stylesheet', href='../css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Black+Ops+One|Lato:100,300,400,700', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body
    include ../layouts/header.pug
    section.hero.residential-indoor-page-hero.privacy-hero
      h1.hero-center-title.section-title Terms of Service ("Terms")
      p.hero-center-subtitle.privacy-subtitle
        | Last updated: (5/14/18)
      p.privacy-text Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the https://www.homecourtadvantage.net website operated by Home Court Advantage ("us", "we", or "our").
      p.privacy-text Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
      p.privacy-text By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
    section.privacy-policy-info
      h4.privacy-policy-info-title Termination
      p.privacy-policy-info-text
        | We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
      p.privacy-policy-info-text
        | All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
      h4.privacy-policy-info-title Links To Other Web Sites
      p.privacy-policy-info-text
        | Our Service may contain links to third-party web sites or services that are not owned or controlled by Home Court Advantage.
      p.privacy-policy-info-text
        | Home Court Advantage has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Home Court Advantage shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
      h4.privacy-policy-info-title Changes
      p.privacy-policy-info-text
        | We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
      h4.privacy-policy-info-title Contact Us
      p.privacy-policy-info-text
        | If you have any questions about these Terms, please contact us.
    include ../layouts/footer.pug
    include ../layouts/designer-modal.pug
    include ../layouts/scripts.pug
