doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Indoor & Outdoor Sports Flooring | Home Court Advantage
    link(rel='stylesheet', href='../css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Black+Ops+One|Lato:100,300,400,700', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  body
include ../layouts/header.pug
section.hero.residential-page-hero.about-us-page-hero
      .hero-center
        h1.hero-center-title.section-title about us
        p.hero-center-subtitle
          | WHY HCA? No Home is complete without a Home Court. 
section.about-us-page
  section.about-us-col
    h3.section-title.about-us-section-title
      | About Home Court Advantage 
    p.about-us-text.section-subtitle.about-us-section-subtitle
      | WHY HCA? No Home is complete without a Home Court. 
    p.about-us-text
      | Founded in 2017, Home Court Advantage is a leading manufacturer and supplier of premium residential and commercial athletic courts based in Northern Illinois. 
    p.about-us-text
      | A small, personalized company with strong family values, HCA’s 4 owners are all fathers. David, Adi, Rich, and Nate founded HCA with dreams of improving the lives and neighborhoods of each and every client through a unified love of sports. At HCA, we believe that physical activity in families’ lives is important. That’s why we care deeply about developing community spaces. We believe the athletic places we build bring people together and help them to work collectively through athletics, competition, and teamwork.  
    p.about-us-text
      | Working with families and public organizations, we’re proud to deliver turnkey solutions for your athletic court needs—fully customized courts based on your personal designs and specifications. Our team of in-house designers and engineers will work with you, from concept to installation, to ensure your needs are met and your visions are fully realized.
    p.about-us-text
      | Above all, we approach each project as an opportunity to enhance a home with our clients’ preferences and safety at the forefront.
  section.about-us-col
    h3.section-title.about-us-section-title
      | Our Core Company Values 
    p.about-us-text
      | Home is where you feel loved, safest—where you can just be you. Surrounded by family, it is home where your values are instilled and your interests, such as sports, are supported. In the world of sports, similar values are held. The home court represents a place where you can feel comfortable and free from judgment—a training space where you’ll feel empowered to become the best athlete you can be in preparation for overcoming new challenges.
    p.about-us-text
      | At Home Court Advantage, we’ve combined these family and team ideals in developing our core company values. 
    p.about-us-text
      span.text-accent
        | H ome
      |, as the space where you feel loved, safest and where you can just be you, we approach each project as an opportunity to enhance a home with our clients’ preferences and safety at the forefront.
    p.about-us-text
      span.text-accent
        | C ourt
      | . Just like home, your court is a hearth, the space where family and friends gather to create memories that will last a lifetime. Building on this, we use our expertise and care to provide our clients with the most up-to-date, sought-after, and user-friendly court/accessories around. 
    p.about-us-text
      span.text-accent
        | A dvantage
      | . Working with HCA provides you a competitive advantage that no other company can offer. We don’t treat clients like a number and we have no interest in manufacturing uninspired, cookie cutter replicas. Rather, our distinct, personalized approach ensures that each client’s vision becomes reality—everything from the court to the accessories. That said, clients will have all hands on deck. They’ll see, play, and experience what they will be purchasing and work with us every step of the way to ensure we’re always on track and their vision is always at the center of our designs. We provide the specialized knowledge, while our clients’ bring themselves and their personal style. Most importantly, at HCA, it’s always a team effort.
include ../layouts/partners.pug
include ../layouts/footer.pug
include ../layouts/designer-modal.pug
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js')
script(src='https://tuneyourhead.github.io/hca-new/js/mab-popup.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")
script(src='https://homecourtadvantage.net/devsite/js/main.js')
script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit')
