
h1, h2, h3, h4, h5, h6
	margin: 0


h1, h2, h3, h4, h5, h6
	display: block

// Basic Text Style

p
	font-size: 1em
	line-height: 1.1em

hr
  border: solid $border-color
  border-width: 1px 0 0
  clear: both
  margin: 0
  height: 0

a
  font-size: 1em
  text-decoration: none
  color: $link-color
  transition: color 0.2s ease-in-out
  &:hover
    color: $link-hover

ul
	margin: 0
	padding: 0

button, .button, .btn
  color: white
  box-shadow: 0 0 0 #ccc
  border: none
  height: 40px
  min-width: 100px
  padding: 0.5em 1em
  background-color: $accent
  font-size: 0.8em
  letter-spacing: 1px
  text-transform: uppercase
  border-radius: $global-radius
  transition: background-color 0.2s ease-in-out
  display: block
  &:hover
    background-color: lighten($accent, 10%)

.section-title
	font-family: 'Black Ops One', cursive
	font-weight: lighter
	font-size: $title-font-size

.link-button
	padding: $global-padding/2 $global-padding*2
	border: 1px solid $white
	border-radius: 20px
	background-color: transparent
	color: $white
	text-align: center
	font-weight: bold
	text-transform: capitalize
	transition: all 0.3s ease-in-out
	display: block
	margin: 0 auto
	text-shadow: none
	padding: 11px 33px
	&:hover
		background-color: $white

.link-button-lightbg
	border: 1px solid $accent
	color: $accent
	font-weight: 300
	padding: 11px 33px
	box-shadow: none
	max-width: 170px
	&:hover
		color: $white
		background-color: $accent

.label-accent
	color: $accent

input, textarea
  display: block
  border: 1px solid rgba(51,51,51,.5)
  padding: 11px 10px
  border-radius: 4px
  background-color: transparent
  transition: all 0.3s ease-in-out
  width: 100%
  color: #aaaaaa
  font-size: 1rem
  margin-bottom: $global-margin
  &:active, &:focus
    border: 1px solid $accent
    outline: none
    font-size: 1rem
    + label
      font-size: 10px
      margin-top: - 30px

textarea
	padding-top: 11px
	text-indent: 0
	min-height: 145px

form textarea + label
	top: 20px

input.active + label, textarea.active + label
  font-size: 12px
  margin-top: - 37px

form > div
  position: relative
  max-width: 370px
  margin: $global-padding auto

form label
  color: #aaaaaa
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 10px
  transition: all 0.3s ease-in-out

.g-recaptcha
	display: inline-block
	max-width: 100%
	margin: 0 auto

	
