
h1, h2, h3, h4, h5, h6
	margin: 0


h1, h2, h3, h4, h5, h6
	display: block

// Basic Text Style

p
	font-size: 1em
	line-height: 1.1em

hr
  border: solid $border-color
  border-width: 1px 0 0
  clear: both
  margin: 0
  height: 0

a
  font-size: 1em
  text-decoration: none
  color: $link-color
  transition: color 0.2s ease-in-out
  &:hover
    color: $link-hover

ul
	margin: 0
	padding: 0

.section-title
	font-family: 'Black Ops One', cursive
	font-weight: lighter
	font-size: $title-font-size

.link-button
	padding: $global-padding/2 $global-padding*2
	border: 1px solid $white
	border-radius: 20px
	background-color: transparent
	color: $white
	text-align: center
	font-weight: bold
	text-transform: capitalize
	transition: all 0.3s ease-in-out
	display: block
	margin: 0 auto
	text-shadow: none
	padding: 11px 33px
	overflow: hidden
	position: relative
	z-index: 2
	&:after
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 0
		content: ""
		background-color: $white
		color: $white
		transition: all 0.3s ease-out
		z-index: -1
	&:hover
		background-color: transparent
		color: $accent
		box-shadow: inset 4px 4px 10px $white
		&:after
			height: 100%
	&:active, &:focus
		outline: none

.link-button-lightbg, input.link-button-lightbg
	border: 1px solid $accent
	color: $accent
	font-weight: 300
	padding: 11px 33px
	box-shadow: none
	max-width: 170px
	overflow: hidden
	position: relative
	z-index: 2
	&:after
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 0
		content: ""
		background-color: $accent
		color: $white
		transition: all 0.3s ease-out
		z-index: -1
	&:hover
		background-color: transparent
		color: $white
		&:after
			height: 100%
	&:active, &:focus
		outline: none


.label-accent
	color: $accent

input, textarea
  display: block
  border: 1px solid rgba(51,51,51,.5)
  padding: 11px 10px
  border-radius: 4px
  background-color: transparent
  transition: all 0.3s ease-in-out
  width: 100%
  color: #aaaaaa
  font-size: 1rem
  margin-bottom: $global-margin
  &:active, &:focus
    border: 1px solid $accent
    outline: none
    font-size: 1rem
    + label
      font-size: 12px
      margin-top: - 37px

textarea
	padding-top: 11px
	text-indent: 0
	min-height: 145px

form textarea + label
	top: 20px

input.active + label, textarea.active + label
  font-size: 12px
  margin-top: - 37px

form > div
  position: relative
  max-width: 370px
  margin: $global-padding auto

form label
  color: #aaaaaa
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 10px
  transition: all 0.3s ease-in-out

.g-recaptcha
	display: inline-block
	max-width: 100%
	margin: 0 auto


.radio-input + label
	position: relative
	cursor: pointer
	display: inline-block
	text-align: left
	width: 49%
	padding-left: 22.5px
	margin-top: 17.5px
	height: 100%
	transform: 0
	&:active, &:focus
		font-size: 14px
		margin-top: 17.5px

.radio-input.active + label
	font-size: 14px
	margin-top: 17.5px


.radio-input-wrapper
	background-color: #ebebeb
	min-height: 35px

.radio-input
	position: absolute
	opacity: 0

.radio-input-check
	position: absolute
	top: calc(50% - 7.5px)
	height: 15px
	width: 15px
	left: -5px
	background-color: $white
	border-radius: 50%
	border: 1px solid rgba(51,51,51,.5)
	transition: all 0.2s ease-in-out


.radio-input:checked + label .radio-input-check
	box-shadow: 0 0 2px $accent
	border: 3px solid #ebebeb
	background-color: $accent
