section#homepage-designer-modal.designer-modal.darkOverlayOn(data-pop-animation='fadeIn', data-pop-animation-out='fadeOut')
  i.designer-modal-close(data-pop-out='homepage-designer-modal')
  form.designer-modal-form(action='', method='POST')
    h3.designer-modal-title.section-title Court Designer
    p.designer-modal-subtitle upon submitting the form, you will be dircted to our court designer page
    input(type='hidden', name='formsubject' value='Court Designer')
    div
      input#designer-modal-name.designer-modal-input(type='text', name='name', required='')
      label(for='designer-modal-name')
        | Name 
        span.label-accent *
    div
      input#designer-modal-email.designer-modal-input(type='email', name='email', required='')
      label(for='designer-modal-email')
        | Email 
        span.label-accent *
    div
      input#designer-modal-address.designer-modal-input.zip-code(type='text', maxlength='5', name='address', required='')
      label(for='designer-modal-address')
        | Zipcode 
        span.label-accent *
    .g-recaptcha#designerCaptcha
    button.designer-modal-input_submit.link-button.link-button-lightbg(type='submit')
      | Submit
    p.designer-modal-hidden-link
      | If the court designer did not open for you, select this 
      a(href="http://www.snapsports.com/designer/", target="_blank") link
      | .
