<footer class="footer">
<div class="section-wrapper">
<section class="footer-topbar">
<p>Contact Hours: M-F 8:30AM-5PM, Sat 10:30AM-3PM, Sun Closed</p>
<p>Show Room Hours: By Appointment Only <a href="tel:8472748998">(847) 274 - 8998</a></p>
</section>
<section class="footer-nav"><img class="footer-nav-logo" src="https://tuneyourhead.github.io/hca-new/images/logo.png" alt="logo"/>
<ul class="footer-nav-list">
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net">Home</a></li>
<li class="footer-nav-list-item hidden-content"><a href="">About Us</a></li>
<li class="footer-nav-list-item hidden-content"><a href="">Blog/News</a></li>
<li class="footer-nav-list-item hidden-content"><a href="">Portfolio</a></li>
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net/contact-us">Contact Us</a></li>
</ul>
<ul class="footer-nav-list">
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net/devsite/residential">Residential</a></li>
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net/devsite/residential-indoor">Indoor</a></li>
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net/devsite/residential-outdoor">Outdoor</a></li>
</ul>
<ul class="footer-nav-list">
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net/devsite/commercial">Commercial</a></li>
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net/devsite/commercial-indoor">Indoor</a></li>
<li class="footer-nav-list-item"><a href="https://homecourtadvantage.net/devsite/commercial-outdoor">Outdoor</a></li>
</ul>
<ul class="footer-nav-list hidden-content">
<li class="footer-nav-list-item hidden-content"><a href="">Accessories</a></li>
</ul>
<ul class="footer-nav-list">
<li class="footer-nav-list-item">Social Media</li>
<li class="footer-nav-list-item"><a href="https://www.facebook.com/HomeCourtAdvantage.net" target="_blank">Facebook</a></li>
<li class="footer-nav-list-item"><a href="https://twitter.com/AdvantageCourt" target="_blank">Twitter</a></li>
<li class="footer-nav-list-item"><a href="https://www.instagram.com/homecourtadvantage3" target="_blank">Instagram</a></li>
<li class="footer-nav-list-item"><a href="https://www.linkedin.com/company/homecourt-advantage" target="_blank">LinkedIn</a></li>
</ul><a class="footer-map-link footer-nav-map-link" href="https://www.google.com/maps/place/724+Anthony+Trail,+Northbrook,+IL+60062/@42.1411711,-87.8561704,17z/data=!4m13!1m7!3m6!1s0x880fc0aa3ecaa03b:0x9d18b31be310988a!2s724+Anthony+Trail,+Northbrook,+IL+60062!3b1!8m2!3d42.1411711!4d-87.8539817!3m4!1s0x880fc0aa3ecaa03b:0x9d18b31be310988a!8m2!3d42.1411711!4d-87.8539817" target="_blank">724 Anthony Trail, Northbrook, Illinois 60062, United States</a>
</section>
<section class="footer-info footer-info_showroom">
<h3 class="footer-info-title section-title">Visit our showroom!</h3><a class="footer-map-link" href="https://www.google.com/maps/place/724+Anthony+Trail,+Northbrook,+IL+60062/@42.1411711,-87.8561704,17z/data=!4m13!1m7!3m6!1s0x880fc0aa3ecaa03b:0x9d18b31be310988a!2s724+Anthony+Trail,+Northbrook,+IL+60062!3b1!8m2!3d42.1411711!4d-87.8539817!3m4!1s0x880fc0aa3ecaa03b:0x9d18b31be310988a!8m2!3d42.1411711!4d-87.8539817" target="_blank">724 Anthony Trail, Northbrook, Illinois 60062, United States</a>
<p class="footer-info-text">Come try out our products in our very own test gym we created just for you!</p><a class="link-button link-button-lightbg footer-link-button" href="https://www.google.com/maps/place/724+Anthony+Trail,+Northbrook,+IL+60062/@42.1411711,-87.8561704,17z/data=!4m13!1m7!3m6!1s0x880fc0aa3ecaa03b:0x9d18b31be310988a!2s724+Anthony+Trail,+Northbrook,+IL+60062!3b1!8m2!3d42.1411711!4d-87.8539817!3m4!1s0x880fc0aa3ecaa03b:0x9d18b31be310988a!8m2!3d42.1411711!4d-87.8539817" target="_blank">Directions</a>
</section>
<section class="footer-info">
<h3 class="footer-info-title section-title">Court Designer</h3>
<p class="footer-info-text">If you can dream it, we can build it. See your vision come to life with our court designer.</p><a class="link-button link-button-lightbg footer-link-button" href="" data-pop="homepage-designer-modal">Court Designer</a>
</section>
<section class="footer-links">
<p class="footer-copyright">Copyright © 2018 Home Court Advantage. All rights reserved.</p><a class="footer-links-item" href="https://homecourtadvantage.net/devsite/privacy-policy">Privacy Policy</a><a class="footer-links-item" href="">Terms of Use</a>
</section>
</div>
</footer>