header.header
  .section-wrapper
    a.header-logo(href='https://homecourtadvantage.net/devsite/')
      img(src='https://tuneyourhead.github.io/hca-new/images/logo.png', alt='logo')
    ul.header-nav
      li.header-nav-item.hidden-content
        a(href='') About us
      li.header-nav-item.hidden-content
        a(href='') Residential
      li.header-nav-item.hidden-content
        a(href='') Commercial
      li.header-nav-item.hidden-content
        a(href='') Accessories
      li.header-nav-item
        a(href='', data-pop='homepage-designer-modal') Court Designer
      li.header-nav-item.hidden-content
        a(href='') Blog/News
      li.header-nav-item.hidden-content
        a(href='') Portfolio
      li.header-nav-item
        a(href='https://homecourtadvantage.net/devsite/contact-us/') Contact us
    i.header-nav-btn
