<header class="header">
<div class="section-wrapper"><a class="header-logo" href="https://homecourtadvantage.net/devsite/"><img src="https://tuneyourhead.github.io/hca-new/images/logo.png" alt="logo"/></a>
<ul class="header-nav">
<li class="header-nav-item"><a href="">About us</a></li>
<li class="header-nav-item"><a href="">Residential</a></li>
<li class="header-nav-item"><a href="">Commercial</a></li>
<li class="header-nav-item"><a href="">Accessories</a></li>
<li class="header-nav-item"><a href="" data-pop="homepage-designer-modal">Court Designer</a></li>
<li class="header-nav-item"><a href="">Blog/News</a></li>
<li class="header-nav-item"><a href="">Portfolio</a></li>
<li class="header-nav-item"><a href="https://homecourtadvantage.net/devsite/contact-us/">Contact us</a></li>
</ul><i class="header-nav-btn"></i>
</div>
</header>