header.header
  .section-wrapper
    a.header-logo(href='https://homecourtadvantage.net/')
      img(src='https://tuneyourhead.github.io/hca-new/images/logo.png', alt='logo')
    ul.header-nav
      li.header-nav-item
        a(href='https://homecourtadvantage.net/devsite/about-us') About us
      li.header-nav-item
        a(href='https://homecourtadvantage.net/devsite/residential') Residential
      li.header-nav-item
        a(href='https://homecourtadvantage.net/devsite/commercial') Commercial
      li.header-nav-item.hidden-content
        a(href='') Accessories
      li.header-nav-item
        a(href='', data-pop='homepage-designer-modal') Court Designer
      li.header-nav-item
        a(href='https://homecourtadvantage.net/devsite/blog') Blog/News
      li.header-nav-item
        a(href='https://homecourtadvantage.net/devsite/portfolio') Portfolio
      li.header-nav-item
        a(href='https://homecourtadvantage.net/contact-us') Contact us
    i.header-nav-btn
