header.header
  .section-wrapper
    a.header-logo(href='./')
      img(src='/images/logo.png', alt='logo')
    ul.header-nav
      li.header-nav-item
        a(href='') About us
      li.header-nav-item
        a(href='') Residential
      li.header-nav-item
        a(href='') Commercial
      li.header-nav-item
        a(href='') Accessories
      li.header-nav-item
        a(href='', data-pop='homepage-designer-modal') Court Designer
      li.header-nav-item
        a(href='') Blog/News
      li.header-nav-item
        a(href='') Portfolio
      li.header-nav-item
        a(href='') Contact us
    i.header-nav-btn
