section.partners
  .section-wrapper
    h3.partners-title.section-title Sponsorship Partners
    ul.partners-list
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
      li.partners-list-item
