script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js')
script(src='https://tuneyourhead.github.io/hca-new/js/mab-popup.js')
script(src='https://tuneyourhead.github.io/hca-new/js/main.js')
script(src='/js/main.js')
