.contact-us
  display: flex
  justify-content: space-between
  background-color: $white
  padding: $global-padding
  padding-bottom: $global-padding*4
  .link-button
    border: 1px solid $accent
    color: $accent
    box-shadow: none
    max-width: 140px
    &:hover
      color: $white
      background-color: $accent

.contact-us-item
  flex-basis: calc(50% - 10px)
  text-align: center
  display: flex
  justify-content: space-between
  flex-direction: column

.contact-us-item-text
  max-width: 400px
  margin: $global-margin/2 auto
  font-size: 1.2rem
  line-height: 1.2

.contact-us-input
  border: 1px solid $light-gray
  padding: $global-padding/2 $global-padding*2
  border-radius: 20px
  max-width: 350px
  width: 100%
  color: $light-gray
  margin-bottom: $global-margin
  transition: all 0.3s ease-in-out
  &::placeholder
    color: $light-gray
  &:active, &:focus
    outline: none
    border: 1px solid $accent
