.footer
  background-color: #fafafa
  .section-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: $global-padding 0
    @media(max-width: 1470px)
      padding: $global-padding


.footer-topbar
  flex-basis: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: $global-padding/2 0
  border-bottom: 1px solid rgba(51,51,51,.5)
  a
    margin-left: 23px
    color: $accent
    &:hover
      color: $accent
      text-decoration: underline


.footer-nav
  flex-basis: 50%
  border-bottom: 1px solid rgba(51,51,51,.5)
  padding: $global-padding 0
  position: relative
  @media(max-width: 1100px)
    flex-basis: 100%

.footer-nav-logo
  display: block
  max-width: 100%
  width: 220px

.footer-nav-list
  display: inline-block
  vertical-align: top
  margin: $global-margin $global-margin $global-margin 0

.footer-nav-list-item
  list-style: none
  margin-bottom: 15px
  &:first-of-type
    font-weight: bold

.footer-nav-list-item_active
  position: relative
  display: inline-block
  &:after
    display: block
    width: 100%
    position: absolute
    bottom: -3px
    left: 0
    content: ""
    border-bottom: 1px solid rgba(51,51,51,.5)

.footer-info
  flex-basis: 25%
  border-bottom: 1px solid rgba(51,51,51,.5)
  border-left: 1px solid rgba(51,51,51,.5)
  text-align: center
  padding: 25px 45px
  display: flex
  flex-direction: column
  justify-content: space-between
  text-align: left
  @media(max-width: 1100px)
    flex-basis: 50%
    &.footer-info_showroom
      border-left: none

.footer-info-text
  flex-grow: 1
  max-width: 60%
  font-size: 1.28rem

.footer-info-title
  font-size: 1.7rem
  max-width: 60%
  text-transform: uppercase

.footer-map-link
  display: block
  color: $accent
  max-width: 70%
  font-size: 0.8rem
  font-weight: 400
  line-height: 1.4
  margin-top: $global-padding
  &:hover
    color: $accent
    text-decoration: underline


.footer-link-button
  display: inline-block
  margin-left: 0

.footer-copyright
  display: inline-block
  font-weight: 400
  font-size: 12px

.footer-links-item
  display: inline-block
  color: $accent
  margin-left: 20px
  font-weight: 400
  font-size: 12px
  position: relative
  &:before
    position: absolute
    top: 0
    left: -10px
    height: 100%
    width: 1px
    background-color: rgba(51,51,51,.5)
    content: ""
  &:hover
    text-decoration: underline

.footer-nav-map-link
  position: absolute
  bottom: $global-padding
  left: 0
