.header
  background-color: #fafafa
  .section-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 20px 0px
    align-items: center
    @media(max-width: $xl-max-width)
      padding: 20px $global-padding

.header-logo
  flex-basis: 16.6%
  img
    max-width: 100%
    width: 235px

.header-nav
  list-style: none
  flex-basis: 70%
  display: flex
  justify-content: space-between
  text-transform: capitalize
  @media(max-width: $xl-max-width)
    flex-grow: 0.8
  @media(max-width: $lg-max-width)
    flex-basis: 100%
    flex-wrap: wrap

.header-nav-item
  display: inline-block
  a
    font-size: 1rem
