.hero
  padding: 0 $global-padding
  height: calc(75vh - 85px)
  min-height: 500px
  position: relative
  background: $gradient, url("../images/hero.jpg")
  background:
    size: cover
    position: center
    repeat: no-repeat

.hero-topbar
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  width: 100%
  margin: 0 auto
  color: $white
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: $global-padding/2 0
  border-bottom: 1px solid rgba(255,255,255,.5)
  p
    display: inline-block
    a
      color: $white
      margin-left: 23px
      &:hover
        text-decoration: underline
  @media(max-width: $xl-max-width)
    padding: $global-padding/2 $global-padding

.hero-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  color: $white
  text-shadow: 3px 3px 3px rgba(0,0,0,.35)
  min-width: 60%

.hero-center-title
  text-transform: uppercase

.hero-center-subtitle
  font-size: 1.125rem
  line-height: 1.4
  font-weight: 300

.hero-center-btn
  display: block
  margin: $global-margin auto
  max-width: 120px
