.what-we-do
  padding: 0 $global-padding
  color: $white
  text-shadow: 3px 3px 3px rgba(0,0,0,.35)

.what-we-do_main
  display: flex
  justify-content: space-between
  @media(max-width: $lg-max-width)
    flex-wrap: wrap

.what-we-do_main-item
  flex-basis: calc(50% - 6.5px)
  background-color: #ccc
  text-align: center
  height: calc(100vh - 26px)
  max-height: 800px
  display: flex
  justify-content: space-between
  flex-direction: column
  padding: 10% $global-padding
  margin-top: $global-padding
  background:
    size: cover
    repeat: no-repeat
    position: center
  &:nth-of-type(1)
    background-image: $gradient, url('../images/what-we-do-bg-1.jpg')
  &:nth-of-type(2)
    background-image: $gradient, url('../images/what-we-do-bg-2.jpg')
  @media(max-width: $lg-max-width)
    flex-basis: 100%
    max-height: 400px

.what-we-do_main-title
  text-transform: uppercase

.what-we-do_main-subtitle
  text-transform: uppercase
  display: inline-block
  margin: $global-margin/2 auto
  font-size: 1.2rem
  font-weight: normal

.what-we-do_main-text
  flex-grow: 1
  font-size: 1.125rem
  line-height: 1.4
  max-width: 700px
  margin: 0 auto
  font-weight: 300

.what-we-do_secondary
  display: flex
  justify-content: space-between
  @media(max-width: $lg-max-width)
    flex-wrap: wrap

.what-we-do_secondary-link
  cursor: pointer

.what-we-do_secondary-item
  flex-basis: calc(33.333% - 8.666px)
  background-color: #ccc
  text-align: center
  height: calc(100vh - 26px)
  margin: $global-padding 0 0
  max-height: 800px
  display: flex
  justify-content: space-between
  flex-direction: column
  padding: 10% $global-padding
  opacity: 0.8
  background:
    size: cover
    repeat: no-repeat
    position: center
  &:nth-of-type(1)
    background-image: $gradient, url('../images/what-we-do-bg-3.jpg')
  &:nth-of-type(2)
    background-image: $gradient, url('../images/what-we-do-bg-4.jpg')
  &:nth-of-type(3)
    background-image: $gradient, url('../images/what-we-do-bg-5.jpg')
  @media(max-width: $lg-max-width)
    flex-basis: 100%
    max-height: 400px

.what-we-do_secondary-text
  flex-grow: 1
  font-size: 1.125rem
  line-height: 1.4
  max-width: 450px
  margin: $global-margin/2 auto 0
  font-weight: 300

.what-we-do_portfolio
  flex-basis: 100%
  padding-top: $global-padding

.what-we-do_portfolio-item
  background-color: #ccc
  max-height: 800px
  text-align: center
  height: calc(100vh - 26px)
  padding: $global-padding*4
  margin-bottom: $global-padding
  background:
    size: cover
    repeat: no-repeat
    position: center
  &:nth-of-type(1)
    background-image: $gradient, url('../images/what-we-do-bg-6.jpg')
  @media(max-width: $lg-max-width)
    max-height: 400px

.what-we-do_portfolio-text
  font-size: 1.125rem
  line-height: 1.4
  display: inline-block
  margin: $global-margin auto $global-margin*2
  font-weight: 300

.what-we-do_portfolio-link
  max-width: 120px
  margin: 0 auto
