include /layouts/head.pug
include /layouts/header.pug
section.hero
      .hero-topbar.section-wrapper
        p Contact Hours: M-F 8:30AM-5PM, Sat 10:30AM-3PM, Sun Closed
        p
          | Show Room Hours: By Appointment Only 
          a(href='tel:8472748998') (847) 274 - 8998
      .hero-center
        h1.hero-center-title.section-title contact us
        p.hero-center-subtitle
          | Full service athletic flooring and basketball hoops and accessories, to synthetic turf…
          br
          | whatever you can dream up, we can make it happen.
        a.hero-center-btn.link-button(href='') About
include /layouts/partners.pug
include /layouts/footer.pug
include /layouts/designer-modal.pug
include /layouts/scripts.pug
